@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artigo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1.25rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    margin: 1.25rem 0;
}

.artigo h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    color: rgba(0, 102, 153, 0.756);
}

.artigo p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    color: #666;
}

.artigo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
