* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

.artigo {
    width: 100%;
    height: auto;
    background-color: rgb(200,200,200);
    text-align: center;
}

.artigo h1 {
    color: rgb(66, 149, 244);
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    /* font-variant: small-caps */
}

.artigo p {
    color: #b4b4b4;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    margin-top: 12px;
}